{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jquery": true,
    "amd": true,
    "es6": true,
    "jasmine": true
  },
  "globals": {
    "googletag": true
  },
  "rules": {
    "no-var": 1,
    "prefer-const": 1,
    "no-labels": 1,
    "no-unused-vars": 0,
    "keyword-spacing": 1,

    "camelcase": 0,

    "no-empty-label": 0,
    "space-after-keywords": 0,
    "space-return-throw-case": 0,

    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,

    "linebreak-style": 0,

    "react/jsx-filename-extension": 0,

  }
}
