body {
  background: green !important;
}

h1 {
  // height: calc(100px-1px);
  background: blue;
  display: flex;
  flex-grow: 1;
  -webkit-border-radius: 5px;
}

.test {
  background: red;
}

.test__hello {
  background: yellow;
}

.test-_d {
  color: red;
}
